</div>

  <!-- Footer -->
<footer id="footer">
  <p class="copyright">&copy; {{ site.title }}</p>
</footer>

</div>

<!-- BG -->
<video autoplay muted loop id="bg-video">
  <source src="assets/woods.mp4" type="video/mp4">
</video>

<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
